html {
  scroll-behavior: smooth;
}
.to-do-tasks, .done-tasks, .cancelled-tasks {
  margin-bottom: 60px;
}
.todo-and-done-tasks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .status-infos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    .list-title-and-count {
      display: flex;
      align-items: center;
      h5, p {
        margin: 0;
      }
      h5 {
        font-size: 28px;
      }
      p {
        font-size: 22px;
      }
    }
    #deadlines-and-priorities-toggle {
      display: flex;
      border: solid 1px;
      border-radius: 10px;
      overflow: clip;
      align-items: center;
      height: max-content;
      p.deadlines-priorities-btn {
        margin: 0;
        padding: 5px 10px;
        transition: all 125ms ease;
        font-size: 12px;
        cursor: pointer;
      }
      &:not(.active) {
        color: grey;
      }
      .active {
        color: white;
        background: black;
      }
    }
  }
}
