
#new_task {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  width: 345px;
  align-items: flex-start;
  box-shadow: 0 0 10px lightgray;
  padding: 10px;
  border-radius: 10px;
  margin: 40px 0 60px 0;
  justify-content: space-between;
  label, legend {
    display: none;
  }
  input {
    border: none;
  }
  .form-group {
    margin: 0;
    width: 100%;
  }
  .form-task-title-and-deadline {
    display: flex;
    .task_title {
      width: 65%;
    }
    .deadline-with-calendar.text-center {
      width: 35%;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        margin-bottom: 5px;
      }
      .task_deadline {
        width: 110px;
        input {
          background: transparent;
        }
      }
    }
  }
  .task_priority {
    margin: 10px 0;
    label {
      display: block;
    }
  }
  .category-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .category-item {
  }

  .category-selector {
    position: absolute;
    transform: scale(0);
  }

  .category-selector + label {
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    text-align: left;
    padding: 5px 12px;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    background-color: white;
  }

  .category-selector:checked + label {
    color: white !important;
  }
  #task_priority_normal + label {
    color: $success;
  }

  #task_priority_normal:checked + label {
    background-color: $success ;
    border-color: $success ;
  }


  #task_priority_urgent + label {
    color: $info;
  }

  #task_priority_urgent:checked + label {
    background-color: $info ;
    border-color: $info ;
  }


  #task_priority_very_urgent + label {
    color: $danger;
  }

  #task_priority_very_urgent:checked + label {
    background-color: $danger ;
    border-color: $danger ;
  }
  .task_submit {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    input {
      border-radius: 50%;
      background: black;
      color: white;
    }
  }
}




.task-cards {
  width: 345px;
  transition: all 150ms ease;
  .task-card {
    position: relative;
    display: flex;
    min-height: 125px;
    width: 345px;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0 20px 0;
    justify-content: space-between;
    box-shadow: 0 0 10px lightgray;
    h6, p {
      margin: 0;
    }
    &.grabbable-task {
      cursor: grab;
    }
    .task-infos {
      display: flex;
      position: absolute;
      top: -12px;
      .deadline-sticker {
        padding: 4px 5px;
        display: flex;
        align-items: center;
        transition: all 125ms ease-in;
        font-size: 12px;
        border-radius: 5px;
        margin-right: 5px;
        color: white;
        text-decoration: none;
        height: 22px;
        &:hover {
          color:white;
          text-decoration: none;
          height: 26px;
        }
        &.upcoming {
          background: $success;
        }
        &.today {
          background: $info;
        }
        &.passed {
          background: $danger;
        }
        &.comment-sticker {
          background: $warning;
        }
        &.very_urgent {
          background: $danger;
        }
        &.urgent {
          background: $info;
        }
        &.normal{
          background: $success;
        }
      }
    }
    .task-title-and-actions {
      display: flex;
      flex-direction: column;
      width: 100%;
      .task-title {
        padding: 15px;
      }
      .task-actions {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        .action-btn:first-child {
          border-radius: 10px 0 0 10px;
        }
        .action-btn:last-child {
          border-radius: 0 10px 10px 0;
        }
        .action-btn {
          padding: 5px 10px;
          font-size: 12px;
          transition: all 125ms ease;
          &:hover {
            text-decoration: none;
          }
          &.done-btn {
            border: solid 1px $success;
            color: $success;
            &:hover {
              background: $success;
              color: white;
              font-weight: bold;
            }
          }
          &.cancel-btn {
            border: solid 1px $danger;
            color: $danger;
            &:hover {
              background: $danger;
              color: white;
              font-weight: bold;
            }
          }
          &.todo-again-btn {
            border: solid 1px $info;
            border-radius: 10px;
            color: $info;
            &:hover {
              background: $info;
              color: white;
              font-weight: bold;
            }
          }
        }
      }
    }
    // &.very_urgent {
    //   box-shadow: 0 0 10px #ff00005c;
    // }
    // &.urgent {
    //   box-shadow: 0 0 10px #ffff00a6;
    // }
    // &.normal{
    //   box-shadow: 0 0 10px #00d50042;
    // }
  }
  .task-and-comments {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .collapse-comments {
      width: 300px;
      box-shadow: 0 5px 10px lightgray;
      padding: 10px;
      border-radius: 5px;
      margin-top: -20px;
      #new_comment {
        display: flex;
        align-items: center;
        .form-group {
          margin: 0;
        }
        label {
          display: none;
        }
        input {
          border: none;
        }
      }
    }
    .priority-and-priorities-btn, .deadline-and-calendar-btn, .comment-and-comments-btn {
      display: flex;
    }
    .priority-and-priorities-btn {
      position: relative;
      flex-direction: column;
      align-items: center;
      .collapse-priorities {
        position: absolute;
        top: 30px;
        .priorities {
          display: flex;
          justify-content: space-around;
          a {
            width: max-content;
            font-size: 12px;
            text-align: center;
            height: 22px;
            transition: all 125ms ease-in;
            &:hover {
              text-decoration: none;
              padding: 5px 10px;
              height: 28px;
            }
          }
        }
      }
    }

    .edit_task {
      display: flex;
      align-items: center;
      label {
        display: none;
      }
      .form-group {
        margin: 0;
        input {
          background: white;
          border: none;
          cursor: pointer
        }
      }
      .task_submit input {
        border: none;
        border-radius: 5px;
      }
    }
  }
}

.comment-card {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
