
#new_task {
  display: flex;
  height: 70px;
  width: 345px;
  align-items: center;
  box-shadow: 0 0 10px lightgray;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0;
  justify-content: space-between;
  label {
    display: none;
  }
  input {
    border: none;
  }
  .form-group {
    margin: 0;
  }
  .task_title {
    width: 50%;
  }
  .task_deadline {
    width: 35%;
    input {
      background: white;
    }
  }
}






.task-cards {
  width: 345px;
  transition: all 150ms ease;
  .task-card {
    position: relative;
    display: flex;
    min-height: 125px;
    width: 345px;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0 20px 0;
    justify-content: space-between;
    box-shadow: 0 0 10px lightgray;
    h6, p {
      margin: 0;
    }
    .task-infos {
      display: flex;
      position: absolute;
      top: -12px;
      .deadline-sticker {
        padding: 2px 5px;
        font-size: 12px;
        border-radius: 5px;
        margin-right: 5px;
        color: white;
        text-decoration: none;
        &:hover {
          color:white;
          text-decoration: none;
        }
        &.upcoming {
          background: $success;
        }
        &.today {
          background: $info;
        }
        &.passed {
          background: $danger;
        }
        &.comment-sticker {
          background: $warning;
        }
        &.very_urgent {
          background: $danger;
        }
        &.urgent {
          background: $warning;
        }
        &.normal{
          background: $success;
        }
      }
    }
    .task-title-and-actions {
      display: flex;
      flex-direction: column;
      width: 100%;
      .task-title {
        padding: 15px;
      }
      .task-actions {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        .action-btn:first-child {
          border-radius: 10px 0 0 10px;
        }
        .action-btn:last-child {
          border-radius: 0 10px 10px 0;
        }
        .action-btn {
          padding: 5px 10px;
          color: black;
          font-size: 12px;
          &:hover {
            color: white;
            text-decoration: none;
          }
          &.done-btn {
            border: solid 0.5px $success;

            &:hover {
              background: $success;
            }
          }
          &.cancel-btn {
            border: solid 0.5px $danger;
            &:hover {
              background: $danger;
            }
          }
          &.todo-again-btn {
            border: solid 0.5px $info;
            border-radius: 10px;
            &:hover {
              background: $info;
            }
          }
        }
      }
    }
    // &.very_urgent {
    //   box-shadow: 0 0 10px #ff00005c;
    // }
    // &.urgent {
    //   box-shadow: 0 0 10px #ffff00a6;
    // }
    // &.normal{
    //   box-shadow: 0 0 10px #00d50042;
    // }
  }
  .task-and-comments {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .collapse-comments {
      width: 300px;
      box-shadow: 0 5px 10px lightgray;
      padding: 10px;
      border-radius: 5px;
      margin-top: -20px;
      #new_comment {
        display: flex;
        align-items: center;
        .form-group {
          margin: 0;
        }
        label {
          display: none;
        }
        input {
          border: none;
        }
      }
    }
    .priorities {
      display: flex;
      justify-content: space-around;
      a {
        width: 50%;
        text-align: center;
        color: black;
        padding: 5px 10px;
        &:hover {
          text-decoration: none;
          color: white;
          background: black;
        }
      }
      a:first-child {
        border-right: solid 1px;
      }
    }
    .edit_task {
      display: flex;
      align-items: center;
      label {
        display: none;
      }
      .form-group {
        margin: 0;
        input {
          background: white;
          border: none;
        }
      }
    }
  }
}

.comment-card {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
